<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .text-danger{ border: 1px solid #a94442;}
      .text-success{ border: 1px solid #3c763d;}
      .message div{ padding: 5px 10px;border-radius: 5px;}
    </style>
  </head>
<body ng-controller="LunchCheckController">
   <div class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchItem">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           <div class="{{messageClass}}">
             {{message}}
           </div>
         </div>
   </div>

</body>
</html>
